<%= provide(:title, 'Blog' ) %>
<% provide :pageheader, render('background_image') %>
<% provide :background_image, rails_blob_url(@blogpost.images[0]) %>
<h1><%= @blogpost.post_title %></h1>
<p class="lead"><%= @blogpost.created_at.strftime("%d %b %Y") %></p>
<%= @blogpost.content %>
<br>
<%= render 'image_carousel' %>
