<%= provide(:title, 'Blog' ) %>

<h1><%= @blogpost.post_title %></h1>
<div class="row mt-5 mb-5">
  <%= render 'image_carousel' %>
</div>
<p><%= @blogpost.content %></p>
<p><%= @blogpost.created_at.strftime("%d %b %Y") %></p>
