<footer class="mt-auto">
  <div class="nav nav-masthead justify-content-center" >
    <a href="https://www.instagram.com/lukas.hauser/" target="_blank"> <i class="bi bi-instagram nav-link" style="font-size: 1.5rem; margin:5px"></i></a>
    <a href="https://facebook.com/lukashauserart" target="_blank"> <i class="bi bi-facebook nav-link" style="font-size: 1.5rem; margin:5px"></i></a>
    <a href="https://twitter.com/l_ukashauser" target="_blank"> <i class="bi bi-twitter nav-link" style="font-size: 1.5rem; margin:5px"></i></a>
    <a href="https://www.linkedin.com/in/lukashauser/" target="_blank"> <i class="bi bi-linkedin nav-link" style="font-size: 1.5rem; margin:5px"></i></a>
    <a href="https://github.com/lukas-hauser" target="_blank"> <i class="bi bi-github nav-link" style="font-size: 1.5rem; margin:5px"></i></a>
  </div>
  <nav class="nav nav-masthead justify-content-center">
    <%= link_to "About", about_path, class:"nav-link#{" active" if  current_page?(about_path) }" %>
    <%= link_to "Contact", contact_path, class:"nav-link#{" active" if  current_page?(contact_path) }" %>
    <%= link_to "Cookies", cookiepolicy_path, class:"nav-link#{" active" if  current_page?(cookiepolicy_path) }" %>
    <%= link_to "Privacy", privacypolicy_path, class:"nav-link#{" active" if  current_page?(privacypolicy_path) }" %>
    <%= link_to "Terms", terms_path, class:"nav-link#{" active" if  current_page?(terms_path) }" %>
  </nav>
  <small class="nav nav-masthead justify-content-center" style="opacity:0.5">&copy; 2016 - <%= Date.today.year %> Lukas Hauser</small>
</footer>
