<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex h-100 text-center text-white bg-dark">
    <div id="wrapper">
      <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%= render 'layouts/navbar' %>
        <div class="mt-5 mb-5">
          <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
